<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>
    
    <div class="container" style="background-color:white;">
        <!-- Use Node.js and Express to create a web application that determines the postage required for a single piece of retail first-class mail. You should have a form that allows a user to specify 1) the weight of the item and then 2) select one of the following types of mail:

        Letters (Stamped)

        Letters (Metered)

        Large Envelopes (Flats)

        Parcels

        After submitting the form, the user is taken to a page that displays the information they submitted along with the resulting price.

        The rates can be found on this page from the USPS website. Under the "Retail Prices" section, click on the link for "First-Class Mail". -->
        <h1>Results</h1>
        <p>Weight: <%= weight %> oz</p>
        <p>Type: <%= type %></p>
        <p><strong>Price: $<%= price.toFixed(2); %></strong></p>
    </div>

    <% include ../partials/footer.ejs %>
    
</body>
</html>
